<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Speaker Recognition Demo</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning mb-5 pt-2 pb-1">
        <div class="container">
            <h2>음성인증 데모</h2>
        </div>
    </nav>

    <div class="container mb-5" style="margin-left: 60px">
        <div class="btn-group" >
            <button id="toggle-enrol" type="button" class="btn btn-secondary active">음성 등록</button>
            <button id="toggle-verify" type="button" class="btn btn-secondary">음성 인증</button>
        </div>
        <br><small id="toggle-error" class="text-danger"></small>
    </div>

    <div class="ml-4" style="display: flex;">
        <div id="enroll-box" class="container d-block" style="width: 400px; margin-left:60px;">
            <h3>등록</h3>
            <form class="form-inline mb-4">
                <div id='id-form' class='form-group row'>
                        <!-- <label class="col-sm-2 col-form-label">아이디 입력:</label> -->
                    <div style="width: 280px">
                        <input required type=text class="form-control" id="input-enroll-username" name="username" placeholder="아이디를 입력해주세요"> 
                        <small id="id-duplicate-warning" class="text-danger"></small> <br>
                    </div>
                </div>
                <br>
                <div class="progress" style="width: 350px; height: 8px">
                    <div
                        id="enrol-progress-bar"
                        class="progress-bar bg-success"
                        role="progressbar"
                        style="width: 0%;"
                    ></div>
                </div>
                <small id="seconds-left-enrol" class="text-info"></small> <br>
                <br>
                <button type="button" id="enrol-button" class="btn btn-warning">등록 시작</button>
                <button id="cancel-enrol-button" class="btn btn-danger d-none">등록 취소</button> <br>
            </form>
        </div>

        <div id="verify-box" class="container d-none" style="width: 400px; margin-left:60px;">
            <h3>인증</h3>
            <form class="form-inline mb-4">
                <div id='id-form' class='form-group row'>
                    <label class="col-sm-2 col-form-label">아이디 입력:</label>
                    <div style="width: 280px">
                        <input type=text class="form-control" id="input-verify-username" placeholder="아이디를 입력해주세요"> 
                        <small id="id-not-enrolled" class="text-danger"></small> <br>
                    </div>
                </div>
                <br>
                <div class="card col-sm-5 bg-light text-center" style="height: 180px;">
                    <div class="card-body" style="display: flex;">
                        <h6 id="verify-status-message" style="margin: auto;">인증시작 버튼을 눌러주세요</h6>
                    </div>
                </div>
                <br>
                <button type="button" id="verify-button" class="btn btn-warning">인증 시작</button>
                <button type="button" id="end-verify-button" class="btn btn-danger d-none">인증 종료</button> <br>
                <!-- <small id="seconds-left-verify" class="text-danger"></small> <br> -->
            </form>
            <br>
        </div>

        <ul id="user-list" class="list-group" style="width: 300px; margin: auto; margin-top: 10px;">
            <li id="user-list-header" class="bg-success list-group-item">등록된 화자 </li>
        </ul>
    </div>

    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <!-- <script type='text/javascript' src="static/bundle.js"></script> -->
    <!-- <script type="text/javascript" src="../javascripts/controller.js"></script> -->
    {% load static %}
    <script type='text/javascript' src="{% static 'frontend/bundle.js' %}"></script>
</body>
</html>